
<div class="marquee">
<marquee behavior="autoscroll" scrollamount="15" direction="left"  class="marque">
    <img src="https://wallpapercave.com/wp/wp6734909.jpg
    " width="1000" height="500" alt="Natural" />
    <img src="https://wallpapercave.com/wp/wp8466544.jpg
    "width="900" height="500" alt="Natural" />
    <img src="https://wallpapercave.com/wp/wp3053237.jpg
    " width="900" height="500" alt="Natural" />
</marquee>

<app-search></app-search>
<!-- <div class="col-3 align-left" >
  <p></p>
  </div>
</div>
<div class="card" style="width: 20rem; display:inline-block;margin-left:30px;margin-bottom: 100px;" *ngFor="let product of products">
 <div style="display:flex; height:18rem;">
  <img class="card-img-top" src="{{product.productImage}}" alt="loading...">
</div>
  <div class="card-body">
    <h4 class="card-title">{{product.productName}}</h4>
    <h6>Description</h6>
    <p class="card-text">{{product.productDescription}}</p>
    <h6>Stocks Available</h6>
    <p class="card-text">{{product.productStockAvailable}}</p>
 
  </div>
</div> -->
