.marquee {
  margin-top: 40px;
  width: fit-content;
  white-space: nowrap;
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }