<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="card" style="width: 50rem; margin-left: 300px; margin-top: 100px; background-color:grey;">
  <h2 style="text-align: center;">Enter Details To Register</h2>
<form #loginForm1='ngForm' (ngSubmit)="RegisterUser(loginForm1)">
  <div class="form-group">
      <input type="text" style="width: 400px; margin-left: 200px;"  class="form-control" placeholder="Fullname *" value="" required ngModel name="fullname"/>
  </div>
  <div class="form-group">
    <input type="text" style="width: 400px; margin-left: 200px;" class="form-control" placeholder="email *" value="" required ngModel name="email"/>
</div>
<div class="form-group">
  <input type="text" style="width: 400px; margin-left: 200px;" class="form-control" placeholder="username *" value="" required ngModel name="username"/>
</div>
  <div class="form-group">
      <input type="password" style="width: 400px; margin-left: 200px;" class="form-control" placeholder="Your Password *" value="" required ngModel name="password"/>
  </div>
  <div class="form-group">
    <input type="text" style="width: 400px; margin-left: 200px;" class="form-control" placeholder="phone number *" value="" required ngModel name="user_PhoneNumber"/>
</div>
<div class="form-group">
  <input type="text" style="width: 400px; margin-left: 200px;" class="form-control" placeholder="Gender *"  required value="" ngModel name="gender"/>
</div>
  <div class="form-group">
      <input type="submit" style="width: 400px; margin-left: 200px;" [disabled]="!loginForm1.valid"value=Register >
  </div>
  
</form></div>