<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>User</h3>
                    <form #loginForm1='ngForm' (ngSubmit)="LoginUser(loginForm1)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" required ngModel name="email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" required ngModel name="password"/>
                        </div>
                        <div class="form-group">
                            <input type="submit"  (click)= "change('user')"[disabled]="!loginForm1.valid"value=Login >
                        </div>
                        <div class="form-group">
                            <a href="#" class="btnForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-6 login-form-2">
                    <div class="login-logo">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    </div>
                    <h3>Admin</h3>
                    <form #loginAdmin="ngForm" (ngSubmit)="LoginAdmin(loginAdmin)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" required ngModel name="email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" required ngModel name="password"/>
                        </div>
                        <div class="form-group">
                            <a href="admin"  >
                                <input type="submit" [disabled]="!loginAdmin.valid"value=Login >
                            </a>
                                  
                        </div>
                        <div class="form-group">

                            <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>