<form class="wrap">
    <div class="search">
      <h3>See Our Products </h3>
      <input  type="text"   placeholder="Seach by name"
        [(ngModel)]="searchTerm" (input)="search($any($event.target).value)" />
    </div>
  </form>
  <div class="card" style="width: 20rem; display:inline-block;margin-left:30px;margin-bottom: 100px;" *ngFor="let product of productsser | searchFilter: searchTerm; index as i">
    <div style=" height:18rem;">
     <img class="card-img-top" src="{{product.productImage}}" alt="loading...">
   </div>
     <div class="card-body">
       <h4 class="card-title">{{product.productName}}</h4>
       <h6>Description</h6>
       <p class="card-text">{{product.productDescription}}</p>
       <h6>Stocks Available</h6>
       <p class="card-text">{{product.productStockAvailable}}</p>

     </div>
   </div>
<!--   
<div class="card" style="width: 18rem; margin-top:100px;margin-left:20px;display:table;" *ngFor="let product of productsser | searchFilter: searchTerm; index as i">
    <div style="display:flex; height:18rem;">
     <img class="card-img-top" src="{{product.productImage}}" alt="loading...">
   </div>
     <div class="card-body">
       <h4 class="card-title">{{product.productName}}</h4>
       <h6>Description</h6>
       <p class="card-text">{{product.productDescription}}</p>
       <h6>Stocks Available</h6>
       <p class="card-text">{{product.productStockAvailable}}</p>
     
     </div>
   </div>
    -->